img
{
    
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-name: pizza;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}


@keyframes pizza
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}
@media (max-width: 800px) 
{
    img {
        animation-name: none;
        width: 250px;
        height: auto;
    }
  }
