.partition
{
    width: calc(50% - 4px);
    height: calc(50% - 4px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.item
{   

    align-self: flex-start;
    
}
.page
{
    overflow-y: hidden;
}
@media (max-width: 800px)
{
    .partition
    {
        width: calc(100% - 4px);
        height: calc(25% - 4px);
    }    
}