header
{
    display: flex;
    justify-content: center;
    overflow-y: visible;
    flex-direction: column;
    background-color: darkgrey;
    height: 10vh;
    
}
.link
{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    margin-left: 10px;
    margin-right: 10px;
    background-color: seagreen;
}
.title
{
    font-size: larger;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    
}
.links
{
    
    display: flex;
    justify-content: center;
}
body
{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.page
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 80vh;
    font-family: serif;
    background-color: darkslategray;
    overflow-x: hidden;
    color:azure;
}
.disclaimer
{
    display:flex;
    height: 10vh;
    justify-content: center;
    font-weight: bold;
    background-color: darkgrey;
}
